.body{
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
  margin: calc(50% - 50vw);
  width: 100vw;
  height: 50px;
  display: flex;
  background-color: rgb(238, 238, 238);
  justify-content: space-between;
  align-items: center;
  border: solid 1px black;
  font-family: 'Noto Sans JP', sans-serif;
}
.navbar-right{
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  font-size: 17px;
}
.logo{
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0 0 0 40px;
  font-size: 17px;
}
.logo-title{
  font-family: 'Vidaloka', serif;
  font-size: 25px;
}
.X{
  color: rgb(149, 14, 14);
}
.active{
  color: rgb(0, 0, 0);
}
.link{
  text-decoration: none;
  color: rgb(194, 14, 14);
  margin: 0 20px;
}