html{}
body{
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  overflow-x: hidden;
  background-color: rgb(97, 15, 129);
}

.entire{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: white;
}

.navbar {
  display: flex;
  margin: calc(50% - 50vw);
  width: 100vw;
  height: 65px;
  background-color: rgb(97, 15, 129);
  /* background-color: rgb(8, 60, 109); */
  justify-content: space-between;
  align-items: center;
}
.navbar-left{
  display: flex;
  align-items: center;
}
.navbar-right{
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  font-size: 17px;
}
.logo{
  display: flex;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 10px 0 auto 20px;
  font-size: 17px;
}
.logo-title{
  font-family: 'Old Standard TT';
  font-size: 29px;
  transform: scale(0.80, 1);
}
.logo-subtitle{
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  transform: scale(1, 1);
  margin: 5px 0px 0px 0px;
}
.X{
  color: rgb(225, 22, 22);
}
.active{
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* text-shadow: 3px 2px 2px rgb(0, 0, 0); */
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 6px;
  display: flex;
  flex-direction: column;
}
.link{
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 6px;
}
.lang-button{
  cursor: pointer;
  background-color: rgb(186, 0, 0);
  color: white;
  border: 0px;
  border-radius: 6px;
  padding: 6px;
  margin-top: 7px;
  margin-left: 12px;
  font-size: 13px;
}
.dot{
  height: 3px;
  width: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 0px auto 0 auto;
}
.link > .dot{
  visibility: hidden;
}
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 20px;
  position: relative;
  margin-top: 3px;
}
label:after {
  content: '';
  position: absolute;
  top: 1.25px;
  left: 1.25px;
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 22.5px;
  transition: 0.3s;
}
input:checked + label {
  background: grey;
}
input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-80%);
}
label:active:after {
  width: 17px;
}





main{
  margin: 0 15px;
}

.banner{
  padding: 0;
  position: relative;
}
.banner-title{
  position: absolute;
  bottom: -23%;
  left: -12%;
  color: rgb(255, 255, 255);
  font-family: 'Old Standard TT', serif;
  font-size: 15vw;
  transform: scale(0.60, 1);
}
/* .bb{
  font-family: 'Oranienbaum', serif;
  font-size: 120px;
  transform: scale(0.65, 1);
  color: white;
}
.cc{
  font-family: 'Vidaloka', serif;
  font-size: 120px;
  transform: scale(0.575, 1);
  color: white;
} */
.banner-subtitle{
  display: flex;
}
.subtitle{
  position: absolute;
  bottom: -8%;
  left: 0.5%;
  font-size: 4.35vw;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: linear-gradient(#e9ce24, #d6a40f);
  background: -webkit-linear-gradient(#fadc1f, #9c7e23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.fansite{
  font-size: 5vw;
  color: white
}
.banner-photo{
  padding: 0;
  display: block;
  width: 100vw;
  height: 45vw;
  margin-left: calc(-50vw + 50%);
  margin-top: 7.741px;
  max-width: none;
  object-fit: cover;
  object-position: 50% 20%;
}


.home-content-container{
}
.home-content-header{
  font-size: 30px;
}
.home-content-text{
}
.home-form{
  display: flex;
  margin: 0 auto;
}


.section-banner{
  position: relative;
}
.section-banner-photo{
  padding: 0;
  margin-top: 7.741px;
  display: block;
  width: 100vw;
  height: 200px;
  margin-left: calc(-50vw + 50%);
  max-width: none;
  object-fit: cover;
  object-position: 50% 59%;
}
.section-title{
  width: 570px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: rgb(255, 255, 255);
  font-family: 'Old Standard TT', serif;
  font-size: 70px;
  transform: scale(0.60, 1);
  text-align: center;
}




.voice-over{
  margin-bottom: 50px;
}
.voice-over > h3{
  font-size: 19px;
  display: flex;
  margin: 30px auto 0px auto;
  width: 60vw;
}
.voice-over > p{
  display: flex;
  margin: 8px auto 0px auto;
  width: 60vw;
}





.season{
  border-bottom: 0.5px solid grey;
}
.season-last{
  padding-bottom: 40px;
}
.season-title{
  text-align: center;
  font-size: 25px;
}
.episode-split{
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.episode-left{
  width: 50vw;
  margin-right: 20px;
}
.episode-image{
  width: 50vw;
  margin-right: 0px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 15px;
}
.episode-image:hover{
  opacity: 0.7;
}
.episode-left h4{
  margin: 0 auto;
}
.episode-left p{
  margin: 0 auto;
  font-size: 14px;
}
.episode-right{
  width: 5vw;
  display: flex;
  flex-direction: column;
}
.episode-link{
  font-size: 20px;
  text-align: left;
  margin: 2px 0;
  color: black;
}
.episode-link:hover{
  color: grey;
}


.s-episode-title{
  text-align: center;
}
.s-episode{
  margin: 40px auto;
}
.s-episode-name{
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 19vw;
}
.s-episode-subname{
  font-size: 14px;
}
.s-episode-split{
  display: flex;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.s-episode-photo{
  width: 26vw;
  margin-right: 10px;
  border-radius: 10px;
}
.s-episode-photo:hover{
  opacity: 0.7;
}
.s-episode-info{
  width: 27vw;
  margin-left: 10px;
}


.ope-container{
  margin-top: 40px;
  margin-bottom: 70px;
}
.ope-title{
  text-align: center;
  margin-bottom: 0;
}
.ope-title-info{
  text-align: center;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 30px;
}
.ope-split{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.ope-photo{
  width: 35vw;
  margin-right: 30px;
  border-radius: 15px;
}
.ope-quote{}
.ope-info{
  width: 30vw;
}
.ope-section{
  width: 70vw;
  margin: 0 auto;
}
.ope-section-title{
}
.ope-character{
  display: flex;
  justify-content: space-evenly;
}
.ope-character-container{
  width: 15vw;
}
.ope-character-container > h3{
  margin: 0;
}
.ope-character-container > img{
  border: 1px solid rgb(34, 34, 34);
  border-radius: 10px;
  display: flex;
  margin: 10px auto;
  width: 13vw;
}
.ope-character-container > h4{
  margin: 0;
}
.ope-character-container > p{
  margin: 0;
}






.character-entire{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 70vw;
  margin: 40px auto;
}
.character-container{
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character-link{
  text-decoration: none;
  color: black;
}
.character-image{
  width: 15vw;
  height: 20vw;
  object-fit: cover;
  object-position: 50% 50%;
  border: 1px solid black;
  border-radius: 10px;
}
.character-image:hover{
  opacity: 0.8;
}
.character-name{
  margin: 0 auto;
  font-size: 17px;
}
.character-job{
  margin: 0 auto;
  font-size: 1.5vw;
  color: grey;
}

.character-each-title{
  text-align: center;
  margin-top: 40px;
}
.character-each-split{
  display: flex;
  margin: 0 auto;
  width: 70vw;
  justify-content: space-around;
}
.character-each-photo{
  width: 200px;
  border-radius: 15px;
}
.character-each-quote{
  font-size: 20px;
}
.character-each-info{}
.character-each-list{
  margin: 50px auto;
  width: 80vw;
  list-style: none;
}










.song h2{
  margin-left: 100px;
  margin-bottom: 0px;
}
.theme{
  border-bottom: 0.5px solid grey;
  padding-top: 10px;
  padding-bottom: 20px;
}
.theme-split{
  display: flex;
  justify-content: center;
}
.theme-song{
}
.theme-list{
  list-style: none;
}
.outro{
  border-bottom: 0.5px solid grey;
  padding-top: 10px;
  padding-bottom: 30px;
}
.outro-song{
  margin: 0 auto;
  width: 390px;
  justify-content: center;
}
.outro-list{
  list-style: none;
}
.other{
  margin-bottom: 70px;
}
.other-song{
  margin: 0 auto;
  width: 70vw;
}
.other-song-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.other-song-right{
  display: flex;
  align-items: center;
}
.link-lyrics{
  color: black;
  margin-right: 20px;
}

.lyrics{
  min-height: 48vw;
  white-space: pre-wrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.lyrics > h2{
  text-align: center;
  margin-top: 70px;
}
.lyrics-list{
  display: flex;
  margin: 0 auto;
  width: 440px;
  font-size: 25px;
}
.lyrics > ol{
}
.lyrics-one{
  margin-bottom: 40px;
}
.lyrics-two{
  margin-bottom: 50px;
}





.location{
}
.location-article{
  width: 56vw;
  margin: 50px auto;
}
.location-title{
  display: flex;
  align-items: baseline;
}
.location-season{
  font-size: 15px;
  margin-right: 10px;
}
.location-name{
  font-size: 20px;
}
.location-info{
  display: flex;
  justify-content: center;
}
.location-image{
  width: 35vw;
  height: 25vw;
  margin-right: 1vw;
  object-fit: cover;
  border-radius: 15px;
}
.location-detail{
  width: 20vw;
}
.location-detail1{
  margin: 0 auto;
}
.location-detail2{
  margin: 0 auto;
}
.location-detail3{
  margin: 0 auto;
}










.footer{
  background-color: rgb(97, 15, 129);
  color: white;
  margin-top: auto;
  height: 500px;
  margin: calc(50% - 50vw);
  width: 100vw;
}
.hospital{
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  margin-top: 40px;
}
.footer-split{
  margin: 40px 0 10px 0;
  display: flex;
  justify-content: space-around;
}
.footer-about{
  width: 35vw;
  padding: 5px 15px 15px 15px;
  margin-bottom: 10px;
  border: solid 1px;
}
.footer-about a{
  color: white;
  text-decoration: underline;
}
.footer-twitter{
  color: white;
  margin-left: 20px;
}
.footer-page{
  width: 30vw;
  display: flex;
  flex-direction: column;
}
.footer-page-link{
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
}
.footer-bottom{
  display: flex;
  list-style: none;
  justify-content: center;
  border-top: solid 1px;
  margin: 80px auto 0 auto;
  width: 70vw;
}
.footer-bottom a{
  color: white;
  text-decoration: none;
  margin: 30px 15px 30px 15px;
}